.uwm-nested-insert { display: block; margin-top: 42px; margin-top: 2.625rem; margin-bottom: 42px; margin-bottom: 2.625rem; border: 2px solid #FCD450; -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }
.uwm-nested-insert:hover { background: #fafafa; border: 2px solid #757575; text-decoration: none; }
.uwm-nested-insert-info { padding: 16px; padding: 1rem; position: relative; }
.uwm-nested-insert-info .button { color: #252525; background-color: none; padding-left: 56px; padding-left: 3.5rem; padding-right: 40px; padding-right: 2.5rem; background-image: url(../images/small-chevron-blk.png); background-image: url(../images/small-chevron-blk.svg); background-repeat: no-repeat; background-position: 35px 20px; text-transform: uppercase; }
.uwm-nested-insert-info .button:hover, .uwm-nested-insert-info .button:focus { background: #252525; background-image: url(../images/small-chevron.png); background-image: url(../images/small-chevron.svg); background-repeat: no-repeat; background-position: 35px 20px; color: #ffffff; text-decoration: none; }
.uwm-top-white, .uwm-bottom-white { background: #ffffff; width: 90%; position: absolute; height: 3px; }
@media only screen and (min-width: 48.063em) {
    .uwm-top-white, .uwm-bottom-white { width: 95%; } }
.uwm-top-white { top: -3px; }
.uwm-bottom-white { bottom: -3px; }
.uwm-nested-insert-meta { font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-weight: 600; text-transform: uppercase; text-decoration: none; padding: 0px 0px 8px 0px; padding: 0rem 0rem 0.5rem 0rem; color: #757575; }
.uwm-nested-insert-headline { margin: 16px 0px; margin: 1rem 0rem; font-family: "Open Sans Condensed", "Arial Narrow", sans-serif; font-weight: 600; text-transform: uppercase; color: #252525; line-height: 1; font-size: 24px; font-size: 1.5rem; text-decoration: none; }
.uwm-nested-insert h2 {border: none;}
